"""Base classes for XTCE packet definitions."""

from abc import ABC
from enum import IntEnum
from typing import Any, Type, TypeVar

import xtce_codec
from pydantic import BaseModel, ConfigDict, ValidationError

T = TypeVar("T", bound=IntEnum)


def enum_validator(enum_cls: Type[T]):
    """Return a Pydantic validator function for the specific Enum class."""

    def validate(v: Any) -> T:
        if isinstance(v, enum_cls):
            return v

        if isinstance(v, str):
            try:
                return enum_cls[v.upper()]
            except KeyError:
                valid = [e.name for e in enum_cls]
                raise ValueError(f"Invalid label '{v}'. Expected: {valid}")

        try:
            return enum_cls(v)
        except ValueError:
            valid = [e.value for e in enum_cls]
            raise ValueError(f"Invalid value {v}. Expected: {valid}")

    return validate


class XtcePacket(BaseModel, ABC):
    """Abstract base class for all generated XTCE packets."""

    model_config = ConfigDict(
        extra="forbid",
        validate_assignment=True,
        arbitrary_types_allowed=True,
    )

    def __init__(self, **data):
        """Initialize."""
        try:
            super().__init__(**data)
        except ValidationError as e:
            error_msgs = []
            for err in e.errors():
                field_name = ".".join(map(str, err.get("loc", [])))

                if err["type"] == "missing":
                    error_msgs.append(f" - Missing required field: '{field_name}'")
                else:
                    error_msgs.append(f" - '{field_name}': {err.get('msg')}")

            class_name = self.__class__.__name__
            raise ValueError(
                f"Failed to initialize {class_name}:\n" + "\n".join(error_msgs)
            ) from None

    def _build_recipe(self) -> list[dict]:
        """Returns the encoding recipe for this specific layer of the packet."""
        return []

    def to_bytes(self) -> bytes:
        """Encode the packet parameters into bytes."""
        full_recipe = self._build_recipe()
        return xtce_codec.pack_parameters(full_recipe)
