# {{ context.metadata.name }} Space System Toolkit README

## Installation

To install {{ context.dist_name }}, you can use pip:

```sh
pip install {{ context.dist_name }}
```

## Usage

Usage

```sh
from {{ context.package_name }} import *
```

## Details

- XTCE Version: {{ context.xtce_version }}
- Space System Version: {{ context.metadata.version }}

*Generated with [xtce2py](https://github.com/nrmiersen/xtce2py)*
