"""Facade for easy importing."""

{% for mod in module_exports | sort %}
from . import {{ mod }}
{% endfor %}

{%- for module_name, symbols in class_exports.items() %}
from .{{ module_name }} import (
    {%- for sym in symbols | sort %}
    {{ sym }},
    {%- endfor %}
)
{% endfor %}

__all__ = [
    {%- for sym in all_symbols | sort %}
    "{{ sym }}",
    {%- endfor %}
]