"""Facade for easy importing."""

{% for module_name, symbols in exports.items() %}
{% if symbols %}
from .{{ module_name }} import (
    {%- for sym in symbols | sort %}
    {{ sym }},
    {%- endfor %}
)
{% endif %}
{% endfor %}

__all__ = [
    {%- for sym in all_symbols | sort %}
    "{{ sym }}",
    {%- endfor %}
]
