# {{ space_system_name }} Space System Toolkit README

## Installation

To install {{ dist_name }}, you can use pip:

```sh
pip install {{ dist_name }}
```

## Usage

Usage

## Details

- XTCE Version: {{ version }}